*.pem
[Bb]in/
[Oo]bj/
TestResults/
.vs/
*.user
*.suo
/SetupOutput/
/webextensions/node_modules/
/webextensions/.build/
/webextensions/testee/
/webextensions/edge/dev/
/webextensions/**/*.zip
*.crx
*.xpi
/.testinstall/
/docs/BrowserGuard_export/
~$*

