<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.

Copyright (c) 2026 ClearCode Inc.
-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<!-- Kept installed for the life of the package, because it is what runs
		     when the package is removed. -->
		<ComponentGroup Id="BrowserGuardToolsComponents" Directory="INSTALLFOLDER">
			<Component>
				<File Source=".\tools\uninstall-exe-package.cmd" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
